body {
    background: beige;
}

h1 {}

h2 {}

h3 {}

h4 {}

table {
    border: 1px;
}

fel {
    background-color: lightcoral;
}

nya {
    color: black;
}

a:link {
    background: floralwhite;
    color: black;
}

a:visited {
    background: beige;
    color: black;
}

a:hover {
    text-decoration-color: black;
}

a:active {
    background-color: beige;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

header,
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
